@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron bg-1">
  <h1 class="display-4">¡Cordial saludo!</h1>
  <p class="lead">@ViewData["pres"]</p>
  <hr class="my-4">
  <p>@ViewData["pres1"]</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" asp-controller="Facturas" asp-action="Index" role="button">Ir a la solución</a></p>
</div>
